* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #05070B;
    font-family: 'Courier New', monospace;
}

#__next {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container {
    width: 100%;
    height: 100%;
}

#game-container canvas {
    display: block;
    margin: 0 auto;
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}
